.u-background{
    background: pink;
    width: 400px;
    height: 500px;
    border: 1px solid #000000;
}

.u-flex-row{
    display: flex;
    padding: 10px;
}

.u-regstar{
    font-size: 18px;
    color: red;
}

.u-registr{
    padding: 5px 0 0 5px;
}